{% extends "pashaev/body.html" %}
{% load static %}
{% block title %}Gallery{% endblock %}
{% block content %}

<style>
body {
    background-color: #0a0a23 ;
     /*background: url("/static/Images/brown.jpg") center / cover;*/
    }

   /* Top Image Slider */
.body2 { 
    display: flex;
    height: 60vh;
    width: 74vw;
    background-color: #0a0a23; /* Fixed typo in background color */
    overflow: hidden;
    flex-wrap: wrap;
}

#image-track {
    margin-top: 4%;
    display: flex;
    gap: 4vmin;
    position: relative;
    left: 50%;
    top: 50%; /* Adjust this value to move the images down */
    transform: translate(-50%, -50%);
    max-width: calc(100% - 8vmin); /* Ensure the track does not exceed the page width */
    overflow-x: auto; /* Add horizontal scrolling for overflow */
    scrollbar-width: none; /* Hide the scrollbar */
    -ms-overflow-style: none; /* Hide the scrollbar for IE/Edge */
    user-select: none; /* -- Prevent image highlighting -- */
}

/* Hide scrollbar for Firefox */
#image-track::-webkit-scrollbar {
display: none;
}

#image-track > .images {
width: 20vmin;
height: 50vmin;
object-fit: cover;
object-position: 100% center;
}


</style>





<div class="container-fluid">
    <h1 class="text-center larger-name"> Abu Pashaev </h1>
    <h2 class="text-center custom-heading "> "Nostalgia is a passing phrase of infinity." </h2>
  </div>

<div class="col-12 body2">
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="images" src="{% static 'Images/homeSlides/IMG26.jpg' %}" draggable="false" />
        <img class="images" src="{% static 'Images/homeSlides/IMG27.jpg' %}" draggable="false" />
        <img class="images" src="{% static 'Images/homeSlides/IMG28.jpg' %}" draggable="false" />
        <img class="images" src="{% static 'Images/homeSlides/IMG29.jpg' %}" draggable="false" />
        <img class="images" src="{% static 'Images/homeSlides/IMG30.jpg' %}" draggable="false" />
    </div>      
</div>


  <script>
    const track = document.getElementById("image-track");
    
    let isDragging = false;
    
    const handleOnDown = e => {
        if (!e.target.classList.contains('images')) {
            isDragging = true;
            track.dataset.mouseDownAt = e.clientX || e.touches[0].clientX;
        }
    };
    
    const handleOnUp = () => {
        if (isDragging) {
            track.dataset.mouseDownAt = "0";  
            track.dataset.prevPercentage = track.dataset.percentage;
            isDragging = false;
        }
    };
    
    const handleOnMove = e => {
        if (isDragging) {
            const mouseDelta = parseFloat(track.dataset.mouseDownAt) - (e.clientX || e.touches[0].clientX),
                  maxDelta = window.innerWidth / 2;
    
            const percentage = (mouseDelta / maxDelta) * -100,
                  nextPercentageUnconstrained = parseFloat(track.dataset.prevPercentage) + percentage,
                  nextPercentage = Math.max(Math.min(nextPercentageUnconstrained, 0), -100);
    
            track.dataset.percentage = nextPercentage;
    
            track.animate({
                transform: `translate(${nextPercentage}%, -50%)`
            }, { duration: 1200, fill: "forwards" });
    
            for (const image of track.getElementsByClassName("images")) {
                image.animate({
                    objectPosition: `${100 + nextPercentage}% center`
                }, { duration: 1200, fill: "forwards" });
            }
        }
    };
    
    window.addEventListener('mousedown', handleOnDown);
    window.addEventListener('touchstart', handleOnDown);
    window.addEventListener('mouseup', handleOnUp);
    window.addEventListener('touchend', handleOnUp);
    window.addEventListener('mousemove', handleOnMove);
    window.addEventListener('touchmove', handleOnMove);
    </script>
    
    



  {% endblock %}
