<div class="cream-container">
    <div class="left-section">
        <img src="{% static 'Images/freeman.png' %}" alt="Image 10" class="image">
    </div>
    <div class="right-section">
        <div class="text" style="margin-left: 40%; width: 80%; font-size: 18px; display: flex;">
            In this artwork, one encounters a depiction from the series "An Esoteric Perspective on Ancestral Symbols". It portrays a figure resembling a thinker, with the wing of a bird and a lowered hand, as if supporting a fragment of a mountain where a tower stands. The scene invites contemplation through time and space of the origins of the depicted character's ancestors, the Sumerians and the Hurrians, representing a civilization that has faded into history. As an artist chronicler, the piece reflects a dreamlike vision, with signs resembling imprints suspended in the air, carrying cryptic information that eludes understanding, leaving viewers only able to speculate. This artwork serves as a metaphorical journey of self-discovery...
        </div>
        <a href="/bio" class="explore-button textFont">About Artist</a>
    </div>
</div>


<div class="row row-content" style="margin: 3%;">
    <div class="right-section">
        <div class="text" style="margin-left: 40%; width: 80%; font-size: 18px; display: flex;">
            In this artwork, one encounters a depiction from the series "An Esoteric Perspective on Ancestral Symbols". It portrays a figure resembling a thinker, with the wing of a bird and a lowered hand, as if supporting a fragment of a mountain where a tower stands. The scene invites contemplation through time and space of the origins of the depicted character's ancestors, the Sumerians and the Hurrians, representing a civilization that has faded into history. As an artist chronicler, the piece reflects a dreamlike vision, with signs resembling imprints suspended in the air, carrying cryptic information that eludes understanding, leaving viewers only able to speculate. This artwork serves as a metaphorical journey of self-discovery...
        </div>
        <a href="/bio" class="explore-button textFont">About Artist</a>
    </div>
    
<main id="carousel">
    <div class="left-section">
        <img src="{% static 'Images/freeman.png' %}" alt="Image 10" class="image">
    </div>
</main>
</div>