body.bio-page {
    font-family: "Comfortaa";
    background-image: url('/static/Images/brown.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-font, .top-bio, .white-container, .textFont {
    font-family: "Comfortaa";
}

.top-bio {
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

.small-logo {
    width: 150px;
    height: auto;
}

.white-container {
    padding: 20px;
    font-weight: bold;
    overflow-wrap: break-word;
}

/* Prevent text overflow */
.white-container p, .top-bio, .sign {
    word-break: break-word;
    overflow-wrap: break-word;
}

/* Improved responsiveness for text */
.white-container p, .top-bio, .sign {
    max-width: 100%;

}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.frame-container, .frame-container2 {
    background-color: #4f262f;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Centering images */
.frame-container img, .frame-container2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sign {
    margin-top: 20px;
    text-align: justify;
}

/* Image Slider Styles */
.slider-container {
    padding: 12px; 
    max-width: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 50%;
    cursor: pointer;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

/* Enlarged Image Modal Styles */
.enlarged-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.enlarged-modal img {
    border-radius: 10px;
}

.enlarged-modal.active {
    display: flex;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    z-index: 1;
}

/* Dark Background Style */
.bg-dark {
    background-color: #4f262f;
}

/* Table Container Styles */
/* Table Container Styles */
.table-container {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th, td {
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

/* Apply background color to every second row */
table tr:nth-child(even) {
    background-color: #4f262f;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
}


/* Cream Container Styles */
.cream-container {
    background-color: #fff8e1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.cream-container img {
    border-radius: 20px;
    width: 50%;
    height: auto;
    margin-right: auto;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
    margin-right: 200px;
    color: #0a0a23;
}

.explore-button {
    background-color: #0a0a23;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 200px;
}

.text-center {
    text-align: center;
    color: #ffffff;
    font-family: "Comfortaa";
}

.custom-heading {
    font-size: 34px;
    color: #ec994b;
}

.iconbutton {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
}

.iconbutton:hover {
    background-color: #ec994b;
}

.row-bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 3%;
}

/* Remove red border used for visualization */
* {
    border: none;
}
