@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

body {
    background-image: url('/static/Images/brown.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

.navbar {
    display: flex;
    background-color: #4f262f;
    padding: 15px 0;
    border-bottom: 1px solid #000000;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

.navbar-nav {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.nav-item {
    font-size: 15px;
    margin: 0 40px;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
}

.navbar-toggler {
    border-color: #000000;
}

.navbar-toggler-icon {
    background-color: #000000;
}

.navbar-collapse {
    transition: height 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.footer-section {
    background-color: #0a0a23;
    padding: 20px 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    margin-right: 20px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.footer-icons a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ec994b;
    text-decoration: none;
}

.footer-icons img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

@media screen and (max-width: 767px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-icons {
        margin-top: 10px;
        justify-content: space-around;
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    color: #ffffff;
}

.botBorder {
    border-bottom: 1px solid #000000;
}

.bottom-section {
    background-color: #0a0a23;
    color: white;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.page__footer-border {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 50px 0;
}

.footerText {
    font-size: 14px;
    color: #ffffff;
}

.text-facebook {
    color: #3b5998;
}

.text-twitter {
    color: #ec994b;
}

.text-instagram {
    color: #e4405f;
}

.text-primary {
    color: #007bff;
}

.advert {
    text-align: center;
}

.row-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
}

.page__footer-border .row {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.page__footer-border .row > div {
    flex: 1;
    margin: 0 10px;
}

.gif-container {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .gif-container {
        width: 25%;
    }
}

.responsive-gif {
    width: 100%;
    height: auto;
}

.lang-switcher {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.lang-switcher .dropdown-menu {
    right: 0;
    left: auto;
}

.lang-switcher a {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.lang-switcher img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.iconbutton {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
}

.iconbutton:hover {
    background-color: #ec994b;
}

.row-bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 3%;
}

/* Remove red border used for visualization */
* {
    border: none;
}
