@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

body {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color: #4f262f;
    padding: 15px 0;
    border-bottom: 1px solid #d2d2d2;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

.navbar-nav {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center; /* Center the navbar options horizontally */
    align-items: center; /* Center vertically within navbar */
    height: 100%; /* Ensure the navbar height is full */
}

.navbar-nav a {
    font-family: 'Comfortaa', sans-serif;
    /* Add any other styling you need for the navigation links */
}

.nav-item {
    font-size: 15px; 
    margin: 0 40px; /* Add more horizontal spacing between options */
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
}

.navbar-toggler {
    border-color: #000000;
}

.navbar-toggler-icon {
    background-color: #000000;
}

.footer-section {
    background-color: #0a0a23;
    padding: 20px 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    margin-right: 20px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.footer-icons a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ec994b;
    text-decoration: none;
}

.footer-icons img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

@media screen and (max-width: 767px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-icons {
        margin-top: 10px;
        justify-content: space-around;
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    color: #ffffff;
}

.botBorder {
    border-bottom: 1px solid #000000;
}

.bottom-section {
    background-color: #0a0a23;
    color: white;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.page__footer-border {
    border-top: 1px solid rgba(255, 255, 255, 0.5); /* Ensuring consistent border style */
    margin: 50px 0;
}

.footerText {
    font-size: 14px;
    color: #ffffff;
}

.text-facebook {
    color: #3b5998;
}

.text-twitter {
    color: #ec994b;
}

.text-instagram {
    color: #e4405f;
}

.text-primary {
    color: #007bff;
}

.advert {
    text-align: center;
}

/* Remove red border used for visualization */
* {
    border: none;
}
.row-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
}

.page__footer-border .row {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.page__footer-border .row > div {
    flex: 1; /* Ensures each column takes equal space */
    margin: 0 10px; /* Adds margin between the columns */
}

.gif-container {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .gif-container {
        width: 25%;
    }
}

.responsive-gif {
    width: 100%;
    height: auto;
}

.lang-switcher {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.lang-switcher a {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.lang-switcher img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}