body {
  background-image: url('/static/Images/brown.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-container {
    width: 50%;
    margin: 0 auto;
    perspective: 2000px;
}

.carousel {
    width: 100%;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 15s infinite linear;
}

.slide {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform-origin: center center;
    transition: transform 1s;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* CSS for the grid layout */
.grid-container {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.frame {
  border: 4px solid #0a0a23;
  padding: 5px;
  background-color: #0a0a23;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.horizontal-gallery {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
}

.horizontal-gallery .grid-item {
  flex: 0 0 auto;
}

.frame:hover {
  transform: scale(1.05);
}

.gallery-button-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.gallery-span {
  color: #bbb8b8;
  font-size: 40px;
  cursor: pointer;
  padding: 20px;
}

.image-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

/* CSS for the slider */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.text-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}


.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 50rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .description {
  font-weight: bold;
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.rating ion-icon {
  color: #ec994b;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #ec994b;
}

.larger-name {
  font-size: 48px;
  color: #ffffff;
  text-shadow:
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}

.cream-container, .cream-container2 {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.cream-container {
  background-color: #fff8e1;
}

.cream-container img, .cream-container2 img {
  border-radius: 20px;
  width: 50%;
  height: auto;
  margin-right: auto;
}

.cream-container2 {
  background-color: #0a0a23;
}

.left-section, .right-section2 {
  display: flex;
  align-items: center;
}

.right-section, .left-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
  margin-right: 200px;
  color: #000000;
}

.text2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
  margin-left: 200px;
}

.explore-button, .gallery-button {
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button {
  background-color: #0a0a23;
  color: rgb(255, 255, 255);
  margin-left: 200px;
}

.explore-button:hover, .gallery-button:hover {
  background-color: #a3a3a3;
}

.gallery-button {
  background-color: white;
  color: black;
  margin-left: 200px;
}

.horizontal-line {
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 3%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.iconbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

.iconbutton:hover {
  background-color: #ec994b;
}

.body2 {
  display: flex;
  height: 60vh;
  width: 74vw;
  overflow: hidden;
  flex-wrap: wrap;
}

#image-track {
  margin-top: 4%;
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 8vmin);
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;
}

#image-track::-webkit-scrollbar {
  display: none;
}

#image-track > .images {
  width: 20vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: 100% center;
}
